<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <div class="div-logo-tarjeta">
            <div class="div-logo">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">

                <form class="search">
                    <div>
                        <input class="search-input" type="text" placeholder="Buscar Productos, Marcas">
                        <button><i class="fa fa-magnifying-glass"></i></button>
                    </div>  
                </form>
            </div>

            <div class="compraTarjeta">
                <p><i class="fa fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav class="navbar">
            <ul class="navbar-left">
                <li> <a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-rigth">
                <li> <a href="./register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li> <a href="./login.html">Ingresá</a> <i class="fa fa-right-to-bracket"></i></li>
                <li> <a href="#">Mis Compras</a> <i class="fa fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <button><i class="fas fa-bars"></i></button>
        </div>

        <div>
            <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
        </div>
    </header>

    <main class="main-form">

        <h4>Ingresá</h4>

        <form action="" class="form">

            <div class="item-form">
                <label for="usuario">Usuario:</label>
                <input class="input-item" type="text" id="usuario" name="usuario" placeholder="Tu Usuario">
            </div>


            <div class="item-form">
                <label for="contraseña">Contraseña:</label>
                <input class="input-item" type="password" id="contraseña" name="contraseña" placeholder="Tu Contraseña">
            </div>

            <div class="btn-form">
                <a href="./"><input class="input-item btn-login" type="submit" value="Enviar"></a>
            </div>

        </form>

    </main>

    <footer>

        <div>
            <div class="item-footer">
                <i class="fa fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="item-footer">
                <i class="fa fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="item-footer">
                <i class="fa fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>

    
</body>
</html>