*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header{
    background-color: #EAC926;
}

.navbar{
    display: none;
}

.navbar ul{
    Padding: 10px 0;
}

.navbar li{
    list-style: none; 
}


.navbar li a{
    text-decoration: none;
    color: black;
}

h4{
    font-size: 24px;
    color: #666;
    text-align: center;

}

.logo{
    width: 250px;
    height: 100px;
    padding-left: 30px;
}

.search{
    padding-left: 20px;
}

.search input{
    border-color: #666;
    border-radius: 5%;
}

.compraTarjeta{
    text-align: center;
    padding: 20px;
}

.burger-menu{
    text-align: center;
}

.burger-menu button{
    font-size: 20px;
    padding: 10px;
    border-radius: 15%;
    color: white;
    background-color: #1259c3;
    margin-bottom: 20px;
}

.banner{
    width: 100%;
}

.container{
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #ebebeb;
}

.container-div{
    margin-top: 20px;
}

.articulo-main{
    margin-top: 10px;
    padding: 15px;
}

.articulo-main img{
    width: 100%;   
}

.articulo-detalle{
    background-color: white;
    margin-top: 0;
    padding: 10px 10px;
    display: none;
}

.articulo-detalle i{
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 15px;
    color: #39b54a;
}

.descuento{
    color: #39b54a;
}

.descripcion{
    padding-top: 20px;
    color: #ebebeb;
}

.precio{
    font-size: 18px;
}

.descuento, .descripcion{
    font-size: 16px;
}

footer{
    color: #666;
}

.item-footer{
    padding: 30px;
    text-align: center;
}

.item-footer h3{
    margin-bottom: 0px;
}

.item-footer p{
    margin-top: 0;
}

.item-footer i{
    color: #1259c3;
    font-size: 30px;
}


@media(min-width: 481px){
    .articulo-detalle{
        display: block;
    }

    .articulo-main{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

    .navbar{
        display: block;
    }

    .burger-menu{
        display: none;
    }
}

@media(min-width: 769px){

}


